/* Write your desired css here */
/* body{
    height: 100vh;
    width: 100vw;
    background-image: url("./carousel1.jpg");
    background-size: cover;
    background-position: center;
} */

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0%;
  /* box-sizing: border-box; */
}

.app-container {
  height: 50ch;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-app-container {
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #f3f4f6;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#dropzone {
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  border: 2px dashed gray;
  border-radius: 15px;
  cursor: pointer;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.icon-container i {
  color: green;
}

#fileList {
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid black; */
}

.file-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* border: 1px solid black; */
}

.file-name i {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

textarea {
  height: 6ch;
  width: 350px;
  border-radius: 5px;
}

.thumbnail {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/* #fileList img{
  height: 500px;
  filter: drop-shadow(1px 1px 20px yellow);
} */
